

		<div class="container">
			<div class="row">
				<main class="col-md-12">

					<section id="tables">
						<h2>Tables Sample</h2>
						<table>
							<caption>Shake Shack Menu</caption>
							<thead>
								<tr>
									<th>Burgers</th>
									<th>Fries</th>
									<th>Shakes</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Shack Burger</td>
									<td rowspan="2">Regular Fries <br> Cheese Fries, Bacon Cheese Fries</td>
									<td>Vanilla Shake</td>
								</tr>
								<tr>
									<td>Smoke Shack</td>
									<td>Chocolate Shake</td>
								</tr>
								<tr>
									<td colspan="2">Shroom Burger</td>
									<td>Maple Salted Pretzel Shake</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>Secret Burger</td>
									<td>Secret Fries</td>
									<td>Secret Shake</td>
								</tr>
							</tfoot>
						</table>
				
						<table>
							<caption>The International 2024 DOTA 2</caption>
							<thead>
								<tr>
									<th>Group A</th>
									<th>Group B</th>
									<th>Group C</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Team Spirit</td>
									<td>Gamin Gladiators</td>
									<td rowspan="3">Regional Qualifiers <br> Top 1 and 2</td>
								</tr>
								<tr>
									<td>Team Liquid</td>
									<td>Extreme Gaming</td>
								</tr>
								<tr>
									<td>Team Falcons</td>
									<td>Betboom</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>TBA</td>
									<td>TBA</td>
									<td>TBA</td>
								</tr>
							</tfoot>
						</table>
				
						<p>This section demonstrates the use of HTML tables with various elements such as captions, thead, tbody, tfoot, and attributes like rowspan and colspan.</p>
					</section>
				
					<section id="lists">
						<h2>Top Website Lists</h2>
						<ol>
							<li><a href="https://www.youtube.com/">Youtube</a> </li>
							<li><a href="https://www.netflix.com/">Netflix</a> </li>
							<li>Social Media Sites
								<ul>
									<li><a href="https://www.facebook.com">Facebook</a> </li>
									<li><a href="https://www.instagram.com">Instagram</a> </li>
									<li><a href="https://www.tiktok.com">Tiktok</a> </li>
								</ul>
							</li>
							<li><a href="https://www.crunchyroll.com/">Crunchyroll</a> </li>
							<li><a href="https://web700.ca/">WEB700</a> </li>

							
						</ol>
				
						<p>This section showcases an ordered list with five items, where the third item contains an unordered list with three subitems.</p>
					</section>
				
					<section id="images">
						<h2>Images</h2>
						<img src="https://riot-us.com/wp-content/uploads/2023/11/intro-1634607238.webp?w=780" alt="Gojo" width="300">
						<img src="https://img.freepik.com/free-vector/versus-sign-with-lightning-background-retro-comics-style_1308-158248.jpg?t=st=1719076336~exp=1719079936~hmac=3036c5535132c053919ec9f0bb00a924c74ba13ab7ef280109dd38cb4be107c2&w=1380" alt="VS" width="300">
						<img src="https://static1.srcdn.com/wordpress/wp-content/uploads/2023/12/sukuna-uses-his-domain-expansion-in-jujutsu-kaisen.jpg?q=50&fit=contain&w=1140&h=&dpr=1.5" alt="Sukuna" width="335">
						
				
						<p>This section includes three images with descriptive alternative text. These images are used to demonstrate the proper usage of the <code>img</code> element in HTML.</p>
					</section>
				
					<section id="audio">
						<h2>Audio Sample</h2>
						<audio controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
							Your browser does not support the audio element.
						</audio>
				
						<p>This section features an HTML5 audio player. You can listen to a sample audio file in either MP3 or OGG format.</p>
					</section>
				
					<section id="video">
						<h2>Video Sample using Youtube</h2>
						
						<iframe width="560" height="315" src="https://www.youtube.com/embed/5yb2N3pnztU?si=YC2hHWaOUAim7yuQ?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				
						<p>This section contains an HTML5 video player. You can watch a sample video provided in multiple formats (MP4, OGG, WEBM) to ensure compatibility with different browsers.</p>
					</section>
					

					



				</main>
			</div>
		</div>
