
		<div class="container">
			<div class="row">
				<main class="col-md-12">

					<header>
						<h1>Welcome to the About Page</h1>
						<p>Thank you for visiting! Here you can learn more about the creator of this site.</p>
					</header>

					<section>
						<h2>About Me</h2>
						<p>
							My name is Michael Jo Arron Encinares, and I am a student in the Seneca Polytechnic, taking the BTT Program. 
							My student ID is 151100237. I am passionate about IT and enjoy learning new technologies 
							to enhance my skills.
						</p>
					</section>
				</main>
			</div>
		</div>
